<header class="page-header">
  <h1>Signup!</h1>
</header>

<%= form_for :user, url: '/users' do |f| %>

<% if flash[:error].present? %>
  <div class="alert alert-danger" style="margin-top: 10px; width: 18rem; text-align: center;"><%= flash[:error] %></div>
<% end %>

  <table>
    <tr>
      <td>Name:</td>
      <td><%= f.text_field :name, required: true%></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= f.text_field :email, required: true%></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= f.password_field :password, required: true%></td>
    </tr>
    <tr>
      <td>Password Confirmation:</td>
      <td><%= f.password_field :password_confirmation, required: true%></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Submit", class: "btn btn-success", style: "margin-top: 10px;" %></td>
    </tr>
  </table>
<% end %>
